#txtnombre,#txtpass,#txtemail,#txtconfirmar,#txtnombreoemail,#txtorigen,#txtdestino,#txtinruta,#txtinruta2,
#txtlinea,#txtinicia,#txtfinaliza,#txtcontacto,#txtlinea2,#txtinicia2,#txtfinaliza2,#txtcontacto2{
  font-size: 25px;
  font-family: serif;
  color: #666;
}
